<h2 class="section-title">Products</h2>

<div class="product-cards">
    <div *ngFor="let product of products" class="product-card">
        <div class="product-image">
            <img src={{product.image}} alt="phone image reference">
        </div>

        <h3 class="product-title">
            <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">{{product.name}}</a>
        </h3>

        <p *ngIf="product.description" class="product-description">
            {{product.description}}
        </p>

        <div class="button-group">
            <button type="button" (click)="share()" class="share-button">
                Share
            </button>
            <app-product-alerts [product]="product" (notify)="onNotify()">
            </app-product-alerts>
        </div>
    </div>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->